PORT=5000
MONGODB_URI=mongodb://localhost:27017/tawfeeq
JWT_SECRET=your_jwt_secret_key_tawfeeq_here
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
ADMIN_EMAIL=admin@tawfeeq.com
ADMIN_PASSWORD=admin123
